setup/
build/
local_etc/
lib/
etc/build-ax/
installDeps/*.exe
bin/**/*.ilk
bin/**/*.pdb
bin/**/*.exe
bin/**/*.dll
bin/**/*.qm
bin/**/*.pak
bin/**/*.dat
bin/**/*.log
bin/**/*.bin
src/StrawLumen.pro.user

# Claude Code worktrees
.claude/worktrees/
